
/*........................................BASICS..............................*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.main {
    width: 85%;
    margin: 20px auto;
}

/*........................................SHARED.............................*/
.img {
    border-radius: 20px;
}

/*........................................HERO..................................*/
.hero-img-container {
    width: 100%;
    height: 320px;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*........................................PROMO................................*/
.promo-img-container {
    width: 100%;
    height: 300px;
}

.promo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*.........................promo-1.....................*/



/*.........................promo-2.....................*/



/*.........................promo-3.....................*/



/*.............................................PRODUCTS............................*/
.products-img-container {
    width: 100%;
    height: 600px;
}

.products-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*.........................product-1.....................*/



/*.........................product-2.....................*/



/*.........................product-3.....................*/